<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row class="ion-justify-content-start">
          <ion-col  size="4" > 
            <ion-card>
              
                <ion-card-title >Produto 1</ion-card-title>
                <img src="https://madeinbrazil.fbitsstatic.net/img/p/guitarra-strato-tg530-woodstock-tagima-azul-laked-placid-blue-502-87267/273752.jpg?w=800&h=800&v=no-change"/>
                
                <ion-card-subtitle>
                  <ion-icon name="person-circle-outline"></ion-icon>
                  <section>
                  <ion-button><ion-icon name="navigate-circle"></ion-icon>Pedir</ion-button>
                  <ion-button><ion-icon name="heart-circle-sharp"></ion-icon>Salvar</ion-button>
                  <ion-button><ion-icon name="warning-sharp"></ion-icon></ion-button>

                  </section>

                </ion-card-subtitle>
                
                <ion-card-content>
                  
                  
                </ion-card-content>
              
            
              </ion-card>
          </ion-col  >
          <ion-col  size="4">
            <ion-card>
              <ion-card-title >Produto 2</ion-card-title>
                <img src="https://madeinbrazil.fbitsstatic.net/img/p/guitarra-strato-tg530-woodstock-tagima-azul-laked-placid-blue-502-87267/273752.jpg?w=800&h=800&v=no-change"/>
                
                <ion-card-subtitle>
                  <ion-icon name="person-circle-outline"></ion-icon>
                  <section>
                  <ion-button><ion-icon name="navigate-circle"></ion-icon>Pedir</ion-button>
                  <ion-button><ion-icon name="heart-circle-sharp"></ion-icon>Salvar</ion-button>
                  <ion-button><ion-icon name="warning-sharp"></ion-icon></ion-button>

                  </section>
                  
                </ion-card-subtitle>
              
              
                
              <ion-card-content>
                  
                </ion-card-content>
             
              </ion-card>
          </ion-col >
          <ion-col  size="4" >
           <ion-card>
             <ion-card-title >Produto 3</ion-card-title>
                <img src="https://madeinbrazil.fbitsstatic.net/img/p/guitarra-strato-tg530-woodstock-tagima-azul-laked-placid-blue-502-87267/273752.jpg?w=800&h=800&v=no-change"/>
                
                <ion-card-subtitle>
                  <ion-icon name="person-circle-outline"></ion-icon>
                  <section>
                  <ion-button><ion-icon name="navigate-circle"></ion-icon>Pedir</ion-button>
                  <ion-button><ion-icon name="heart-circle-sharp"></ion-icon>Salvar</ion-button>
                  <ion-button><ion-icon name="warning-sharp"></ion-icon></ion-button>

                  </section>

                </ion-card-subtitle>
              
                
                <ion-card-content>
                  
                  
                </ion-card-content>
              
             
              </ion-card>
          </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
